/* CSS Variables */
:root {
	--grey: #F3F2ED;
	--dark: #000000;
	--light: #FCFBF8;
	--font-theme: Cormorant, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
	"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
	
}

/* Reset CSS */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global styles */
body {
	font-family: 'Cormorant', serif;
	background-color: var(--light);
	color: var(--dark);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

/* Container */
.container {
	text-align: center;
	max-width: 500px;
}

/* Logo */
.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

/* Heading */
h1 {
	font-size: 2.5rem;
	margin-bottom: 20px;
}

/* Paragraph */
p {
	text-align: left;
	margin-bottom: 30px;
}


/* Glyph, by Harry Roberts */

hr {
	overflow: visible; /* For IE */
	padding: 0;
	border: none;
	border-top: medium double var(--dark);
	color: var(--dark);
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;

}
hr:after {
	content: "*";
	display: inline-block;
	position: relative;
	top: -0.5em;
	font-size: 1.5em;
	padding: 0 0.25em;
	background: var(--light);
}

/* Unordered lists */
ul {
	list-style: none;
	padding: 0;
}

/* Links list */
.links {
	margin-bottom: 20px;
}

.links li {
	color: var(--dark);
	margin: 10px 0;
	padding: 15px;
	border-radius: 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--dark);
	border-bottom: 2px solid var(--grey);
}

.links a {
	text-decoration: none;
	color: var(--light);
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

.links a i {
	color: var(--icon-color);
	margin-right: 10px;
}


/* Animations */
.links li.animate {
	transform: scale(1.05);
	transition: transform 0.3s;
}


/* Dark mode */
body.dark {
	background-color: var(--dark);
	color: var(--grey);
}

body.dark .links li {
	background-color: var(--dark);
}

body.dark .links a {
	color: var(--grey);
}

/* Theme toggle button */
.theme-toggle-container {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

#toggle-theme {
	background: none;
	border: none;
	color: inherit;
	font-size: 16px;
	cursor: pointer;
	padding: 4px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.5);
}

#toggle-theme:focus {
	outline: none;
}

/* Media queries */
@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--dark);
		color: var(--grey);
	}
}