/* CSS Variables */
:root {
	--grey: #acacaa;
	--dark: #000000;
	--light: #fffefe;
	--accent: #9ae1ff;
    --font-theme: Avenir, 'Avenir Next LT Pro', Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

/* Reset CSS */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global styles */
body {
	font-family: var(--font-theme);
	background-color: var(--light);
	color: var(--dark);
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Container */
.container {
	text-align: center;
	max-width: 60%;
	margin: 20%;
}

/* Logo */
.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

/* Heading */
h1 {
	font-size: 2rem;
	margin-bottom: 20px;
	margin-top: 20px;

}

/* Paragraph */
p {
	text-align: left;
	margin-bottom: 30px;
}

/* hr */

hr {
	overflow: visible; /* For IE */
	padding: 0;
	border: none;
	border-top-width: medium;
	color: var(--dark);
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	border-top-style: solid;
}
hr:after {
	display: inline-block;
	position: relative;
	top: -0.5em;
	padding: 0 0.25em;
	background: var(--light);
}

/* Unordered lists */
ul {
	list-style: none;
	padding: 0;
}

/* Links list */
.links {
	margin-bottom: 20px;
}

.links li {
	color: var(--dark);
	margin: 10px 0;
	padding: 15px;
	border-radius: 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--dark);
	border-bottom: 2px solid var(--grey);
}

.links li:hover {
	color: var(--dark);
	background-color: var(--accent);
}

.links li a:hover {
	color: var(--dark);
}

.links a {
	text-decoration: none;
	color: var(--light);
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

.links a i {
	margin-right: 10px;
}


/* Animations */
.links li.animate {
	transform: scale(1.05);
	transition: transform 0.3s;
}

/* Light mode styles (default) */
body {
  background-color: var(--light);
  color: var(--dark);
}

.links li {
  background-color: var(--dark);
}

.links a {
  color: var(--light);
}

/* Dark mode styles (based on system preferences) */
@media (prefers-color-scheme: dark) {
  body {
	background-color: var(--dark);
	color: var(--grey);
  }

  .links li {
	background-color: var(--dark);
  }

  .links a {
	color: var(--grey);
  }
}



/* Media query for mobile devices */
@media (max-width: 767px) {
  .container {
	max-width: 90%;
	margin: 10%;
  }

  h1 {
	font-size: 1.5rem;
  }

  p {
	font-size: 0.9rem;
  }

  .theme-toggle-container {
	bottom: 10px;
	right: 10px;
  }
}

/* Media query for larger mobile devices (e.g., iPhone Plus) */
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
	max-width: 80%;
	margin: 10%;
  }

  h1 {
	font-size: 1.75rem;
  }

  p {
	font-size: 1rem;
  }

  .theme-toggle-container {
	bottom: 15px;
	right: 15px;
  }
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 0.8rem;
}

footer a {
  color: var(--dark);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
